<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_type %><br>
    <%= f.select :service_type, options_from_collection_for_select(@bin_type,'selection_item','selection_item') %>
  </div>
  <div class="field">
    <%= f.label :is_recycle %><br>
    <%= f.check_box :is_recycle %>
  </div>
  <div class="field">
    <%= f.label :capacity_cubic_meters %><br>
    <%= f.number_field :capacity_cubic_meters %>
  </div>
  <div class="field">
    <%= f.label :benchmark_load %><br>
    <%= f.number_field :benchmark_load %>
  </div>
  <div class="field">
    <%= f.label :collection_rate %><br>
    <%= f.number_field :collection_rate %>
  </div>
  <div class="field">
    <%= f.label :density_of_waste %><br>
    <%= f.number_field :density_of_waste %>
  </div>
    <div class="field">
    <%= f.label :year_installed %><br>
    <%= f.date_select :year_installed, discard_day: true, start_year: 1980 %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.select :site_id, options_from_collection_for_select(@sites,'id','site_name') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
