<%= form_for(@service) do |f| %>
<%= info_from_site @service.site_id%>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% unless @service.persisted? %>
  	<div class="field">
    	<%= f.label :site_id %><br>
    	<%= f.select :site_id, options_from_collection_for_select(@sites,'id','site_name',params[:site_id]) %>
  	</div>
  <%end%>
  
  <div class="field">
    <%= f.label :service_type %><br>
    <%= f.select :service_type, options_from_collection_for_select(@bin_type,'selection_item','selection_item',@service.service_type) %>
  </div>
  <div class="field">
    <%= f.label "Account number &name" %><br>
    <%= f.text_field :account_number_and_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :collection_frequency %><br>
    <%= f.text_field :collection_frequency %>
  </div>
  <div class="field">
    <%= f.label :is_recycle %><br>
    <%= f.check_box :is_recycle %>
  </div>
  <div class="field">
    <%= f.label :capacity_cubic_meters %><br>
    <%= f.number_field :capacity_cubic_meters,:step=>'any' %>
  </div>
  <div class="field">
    <%= f.label :target_load %><br>
    <%= f.number_field :target_load,:step=>'any' %>
  </div>
  <div class="field">
    <div class="required"> * </div><%= f.label :collection_rate %><br>
    <div class="required"> * </div><%= f.number_field :collection_rate,:step=>'any',:required=>true %>
  </div>
  <div class="field">
    <%= f.label :monthly_rental_fee %><br>
    <%= f.number_field :monthly_rental_fee,:step=>'any' %>
  </div>
  <div class="field">
    <%= f.label :cost_per_tonne %><br>
    <%= f.number_field :cost_per_tonne,:step=>'any' %>
  </div>
  <div class="field">
    <%= f.label :density_of_waste %><br>
    <%= f.number_field :density_of_waste,:step=>'any'  %>
  </div>
    <div class="field">
    <%= f.label :year_installed %><br>
    <%= f.date_select :year_installed, discard_day: true, start_year: 1980 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
