<h1>Services</h1>

<table>
	<thead>
		<tr>
			<th class='col-md-2'>Service type</th>
			<th class='col-md-2'>Is recycle</th>
			<th class='col-md-2'>Capacity cubic meters</th>
			<th class='col-md-2'>Benchmark load</th>
			<th class='col-md-2'>Collection rate</th>
			<th class='col-md-2'>Density of waste</th>
			<th class='col-md-2'>Year installed</th>
			<th class='col-md-2'>Site</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @services.each do |service| %>
		<tr>
			<td class='col-md-2'><%= service.service_type %></td>
			<td class='col-md-2'><%= service.is_recycle %></td>
			<td class='col-md-2'><%= service.capacity_cubic_meters %></td>
			<td class='col-md-2'><%= service.benchmark_load %></td>
			<td class='col-md-2'><%= service.collection_rate %></td>
			<td class='col-md-2'><%= service.density_of_waste %></td>
			<td class='col-md-2'><%= service.year_installed.strftime('%b,%Y') %></td>
			<td class='col-md-2'><%= service.site.site_name %></td>
			<td class='col-md-2'>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Operation
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<%= link_to 'View Baseline Invoice', baseline_invoices_path(:service_id=>service.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Add Baseline invoices', new_baseline_invoice_path(:service_id=>service.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Edit Service', edit_service_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
					</li>
				</ul>
			</div></td>
			<td class='col-md-2'/>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
