<h1>Services</h1>

<table class='table'>
	<thead>
		<tr>
			<th><%=sortable "id"%>
			<th><%=sortable "service_type"%></th>
			<th><%=sortable "is_recycle"%></th>
			<th><%=sortable "capacity_cubic_meters"%></th>
			<th><%=sortable "benchmark_load"%></th>
			<th><%=sortable "collection_rate"%></th>
			<th><%=sortable "density_of_waste"%></th>
			<th><%=sortable "year_installed"%></th>
			<th><%=sortable "site_id", "Site Name"%></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @services.each do |service| %>
		<tr>
			<td><%= service.id%></td>
			<td><%= service.service_type %></td>
			<td><%= service.is_recycle %></td>
			<td><%= service.capacity_cubic_meters %></td>
			<td><%= service.benchmark_load %></td>
			<td><%= service.collection_rate %></td>
			<td><%= service.density_of_waste %></td>
			<td><%= service.year_installed.strftime('%b,%Y') %></td>
			<td><%= service.site.site_name %></td>
			<td>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Operation
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<%= link_to 'Baseline invoice', baseline_invoices_path(:service_id=>service.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Current invoices', current_invoices_path(:service_id=>service.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Saving against Baseline', service_saving_against_baselines_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Edit Service', edit_service_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
					</li>
				</ul>
			</div></td>
			<td/>
		</tr>
		<% end %>
	</tbody>
</table>

<br>
<% if params[:site_id].nil? %>
	<%= link_to 'New Service', new_service_path %>
<%else%>
	<%= link_to 'New Service', new_service_path(:site_id=>params[:site_id]) %>
	| <%= link_to 'Back', sites_path%>
<%end%>
