<h1>Services</h1>

<table class='table'>
	<thead>
		<tr>
			<th><%=sortable "account_number_and_name", "Service"%>
			<th><%=sortable "service_type"%></th>
			<th><%=sortable "description"%></th>
			<th><%=sortable "is_recycle"%></th>
			<th><%=sortable "capacity_cubic_meters"%></th>
			<th><%=sortable "target_load"%></th>
			<th><%=sortable "collection_rate"%></th>
			<th><%=sortable "site_id", "Site Name"%></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @services.each do |service| %>
		<tr>
			<td><%= service.account_number_and_name%></td>
			<td><%= service.service_type %></td>
			<td><%= service.description %></td>
			<td><%= service.is_recycle %></td>
			<td><%= service.capacity_cubic_meters %></td>
			<td><%= service.target_load %></td>
			<td><%= number_to_currency(service.collection_rate,:unit=>'$') %></td>
			<td><%= service.site.site_name %></td>
			<td>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Operation
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<%= link_to 'Baseline invoice', service_baseline_invoices_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Current report', service_current_invoices_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Saving against Baseline', service_saving_against_baselines_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Baseline Data', service_baseline_data_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Edit Service', edit_service_path(service) %>
					</li>
					<li role="presentation">
						<%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
					</li>
				</ul>
			</div></td>
			<td/>
		</tr>
		<% end %>
	</tbody>
</table>

<br><%=will_paginate @services%> <br>
<% if params[:site_id].nil? %>
	<%= link_to 'New Service', new_service_path %>
<%else%>
	<%= link_to 'New Service', new_service_path(:site_id=>params[:site_id]) %>
	| <%= link_to 'Back', sites_path%>
<%end%>
