<%= info_from_site @service.site_id%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>
<p>
  <strong>Account number & name</strong>
  <%= @service.account_number_and_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>
<p>
  <strong>Note:</strong>
  <%= @service.note %>
</p>
<p>
  <strong>Collection frequency</strong>
  <%= @service.collection_frequency %>
</p>
<p>
  <strong>Is recycle:</strong>
  <%= @service.is_recycle %>
</p>

<p>
  <strong>Capacity cubic meters:</strong>
  <%= @service.capacity_cubic_meters %>
</p>

<p>
  <strong>Target load:</strong>
  <%= @service.target_load %>
</p>

<p>
  <strong>Collection rate:</strong>
  <%= number_to_us_currency @service.collection_rate %>
</p>

<p>
  <strong>Monthly rental fee:</strong>
  <%= number_to_us_currency @service.monthly_rental_fee %>
</p>

<p>
  <strong>Cost per tonne:</strong>
  <%= number_to_us_currency @service.cost_per_tonne %>
</p>

<p>
  <strong>Density of waste:</strong>
  <%= @service.density_of_waste %>
</p>

<p>
  <strong>Year installed:</strong>
  <%= @service.year_installed.strftime('%b,%Y') %>
</p>

<p>
  <strong>Site:</strong>
  <%= @service.site.site_name %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back to services', services_path %> |
<%= link_to 'Back to site_services', site_services_path(@service.site) %>
