<p id="notice"><%= notice %></p>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Is recycle:</strong>
  <%= @service.is_recycle %>
</p>

<p>
  <strong>Capacity cubic meters:</strong>
  <%= @service.capacity_cubic_meters %>
</p>

<p>
  <strong>Benchmark load:</strong>
  <%= @service.benchmark_load %>
</p>

<p>
  <strong>Collection rate:</strong>
  <%= @service.collection_rate %>
</p>

<p>
  <strong>Density of waste:</strong>
  <%= @service.density_of_waste %>
</p>

<p>
  <strong>Year installed:</strong>
  <%= @service.year_installed.strftime('%b,%Y') %>
</p>

<p>
  <strong>Site:</strong>
  <%= @service.site.site_name %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
