<div class='hidden-print bg-info'><%=link_to 'Download PDF', printable_pdf_path( :format => 'pdf', :site_id=>params[:site_id],:month=>params[:month] )%></div>
<div>
<h4 class="close-padding">Kumite Sustainability and Waste Management</h4>
Suite 4, 24 Eastern Road<br/>
South Melbourne VIC 3205<br/>
03 9682 0204<br/>
</div>
<div class='line-separator'></div>
<div>
<h4 class="close-padding"><%=@site.company.client_name+" "+@site.site_name%> - WASTE COST SAVINGS REPORT</h4>
<p class="close-padding"><%=@month.strftime("%B %Y")%></p>
</div>
<table class='table'>
  <thead>
  	<tr >
  		<th class='text-center column-right col-lg-2' rowspan="2">Service</th>
  		<th class='text-center column-right' colspan="3">Monthly Baseline</th>
  		<th class='text-center column-right' colspan="3">Current Month</th>
  		<th class='text-center column-right' colspan="3">Monthly Saving against Baseline</th>
  	</tr>
    <tr>
      <th>Monthly collections</th>
      <th>Collection rate</th>
      <th class='column-right'>Monthly charge</th>
      <th>Monthly collections</th>
      <th>Collection rate</th>
      <th class='column-right'>Monthly charge</th>
      <th>Collections saved</th>
      <th>Collection rate</th>
      <th>$Saving Month</th>
    </tr>
  </thead>

  <tbody>
  	<%baseline_total=0%>
  	<%current_total=0%>
  	<%saving_total=0%>
  	<%extra_saving_total=0%>
  	<%excluded_cost_total=0%>
  	<%@services.each_with_index.map do |service,count|%>
      <tr>
      	<%sabs=service.saving_against_baselines%>
      	<%sab =sabs.find_by(:month=>@month)%>
      	<td class='column-right'><%=count+1%>. <%=service.account_number_and_name%><br /><%=(service.description||"")+" "+(service.service_type||"")%>
      	  <!--<%unless sab.blank?||sab.month_extra_saving.blank?%>
      	    <br /> Month extra saving
	      <%end%>
      	  <%unless sab.blank?||sab.month_excluded_cost.blank?%>
      	    <br /> Month exclude cost
      	  <%end%>-->
      	</td>
      	<%unless service.baseline_datum.blank?%>
      	  <td><%=float_pre_2 service.baseline_datum.monthly_collection%></td>
      	  <td><%=number_to_us_currency service.collection_rate%></td>
      	  <td class='column-right'><%=number_to_us_currency service.baseline_datum.monthly_charge%></td>
      	  <%baseline_total+=service.baseline_datum.monthly_charge%>
      	<%else%>
      	  <td class='text-center column-right' colspan="3">not available</td>
      	<%end%>
      	<% cmonth=service.current_months.find_by(:month=>@month)%>
      	<%unless cmonth.blank?%>
      	  <td  ><%=float_pre_2 cmonth.actual_month_collection%></td>
      	  <td  ><%=number_to_us_currency service.collection_rate%></td>
      	  <td class='column-right'  ><%=number_to_us_currency cmonth.actual_month_charge%></td>
      	  <%current_total+=cmonth.actual_month_charge%>
      	<%else%>
      	  <td class='text-center column-right' colspan="3">not available</td>
      	<%end%>
      	  <%unless sab.blank?%>
      	  		<td  ><%=float_pre_2 sab.collection_saved%></td>
      	  		<td  ><%=number_to_us_currency service.collection_rate%></td>
      	  		<td  ><%=number_to_us_currency sab.month_saving%>      	  
      	  		  <%unless sab.month_extra_saving.blank?||sab.month_extra_saving==0%>
      	    		<br /><br />Month extra saving: <%=number_to_us_currency sab.month_extra_saving%>
      	    		<%extra_saving_total+=sab.month_extra_saving%>
	      			<%end%>
      	  		  <%unless sab.month_excluded_cost.blank?||sab.month_excluded_cost==0%>
      	    		<br />Month exclude cost: <%=number_to_us_currency sab.month_excluded_cost%>
      	    		<%excluded_cost_total+=sab.month_excluded_cost%>
      	    	  <%end%>
				</td>
	      	    <%saving_total+=sab.month_saving%>
      	  <%else%>
      			<td class='text-center' colspan="3">not available</td>
      	  <%end%>
      </tr>
    <%end%>
    <tr class='total_row'>
      <td class=" column-right">Monthly Total</td>
      <td colspan="2"></td>
      <td class=" column-right"><%=number_to_us_currency baseline_total%></td>
      <td colspan="2"></td>
      <td class=" column-right"><%=number_to_us_currency current_total%></td>
      <td colspan="2"></td>
      <td><%=number_to_us_currency saving_total+extra_saving_total-excluded_cost_total%></td>
    </tr>
    <tr class='total_row'>
      <td class="column-right" colspan="9">Total Monthly Saving due to Productivity Improvements</td>
      <td><%=number_to_us_currency saving_total+extra_saving_total%>
    </tr>
    <tr class='total_row'>
      <td class="column-right" colspan="9">Total Payment to Kumite-SWM (50% of Agreed Savings in Transportation Costs)</td>
      <td><%=number_to_us_currency 0.5*(saving_total+extra_saving_total)%>
    </tr>
    <tr class='total_row'>
      <td class="column-right" colspan="9">Current Financial Year Saving</td>
      <td><%=number_to_us_currency @site.current_fy_saving%>
    </tr>
    <tr class='total_row'>
      <td class="column-right" colspan="9">Running Total Saving</td>
      <td><%=number_to_us_currency @site.running_total%>
    </tr>
    <tr class='total_row'>
      <%sms=@site.site_month_savings.find_by(:month=>@month)%>
      <td class="column-right" colspan="9">Monthly Recycling Rate</td>
      <td><%= number_with_percentage(sms.recycling_rate) unless sms.blank?%></td>
    </tr>
  </tbody>
</table>

  <h4>Note:</h4>
  <%@commentaries.each_with_index.map do |commentary,index|%>
  	<p><%=index+1%>. <%=commentary.comments%></p>
  <%end%>
