<h1>Site_month_invoice</h1>
<%=form_tag(printable_pdf_path, :method=>'get') do%>
	<%=render :partial=>'layouts/company_site_selection', :companies=>@companies,:sites=>@sites%>


	<div class='required'>*</div><%= label_tag 'month'%>
	<%= date_select :month,'date',
		{:discard_day=>true,:include_blank => true, :default => nil,:start_year=>2000}%>(Default month: Jan)
	<br>
	<%= submit_tag "Search"%>
	
<%end%>