<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Site Month invoice</h2>
	</div>
</div>
<%if is_admin?||current_user.company.present?%>
  <%=form_tag(printable_pdf_path, :method=>'get') do%>
	<%if is_admin?%>
	  <%=render :partial=>'layouts/company_site_selection', :companies=>@companies,:sites=>@sites%>
	<%else%>
	  <div class='required'>*</div>
	    <%= label_tag 'site'%>
	    <%=site_select_tag(@sites,"Select site","form-control chosen-it")%><br />
	<%end%>


	<div class='required'>*</div><%= label_tag 'month'%>
	<%= date_select :month,'date',
		{:discard_day=>true,:include_blank => true, :default => nil,:start_year=>2000}%>(Default month: Jan)
	<br>
	<%= submit_tag "Search"%>
  <%end%>
<%else%>
  <h3>Please contact admin to asign the company for you</h3>
<%end%>