<h1>Saving_against_baselines</h1>
<%=form_tag(saving_against_baselines_path, :method=>'get') do%>
	<%=hidden_field_tag :direction,params[:direction]%>
	<%=hidden_field_tag :sort,params[:sort]%>
	<%=hidden_field_tag :service_id,params[:service_id]%>
	<%=label_tag 'month'%>
	<%= date_select :month,'date', 
		{:discard_day=>true,:include_blank => true, :default => nil,:start_year=>2000}%> <br>
	<%=submit_tag "Search"%>
<%end%>
<table class='table'>
  <thead>
    <tr>
      <th><%= sortable "service_id"%></th>
      <th>Site name</th>
      <th><%= sortable "month"%></th>
      <th><%= sortable "collection_saved"%></th>
      <th><%= sortable "month_saving"%></th>
      <th><%= sortable "month_extra_saving"%></th>
      <th><%= sortable "note"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saving_against_baselines.each do |saving_against_baseline| %>
      <tr>
      	<td><%=saving_against_baseline.service.id%></td>
      	<td><%=saving_against_baseline.service.site.site_name%></td>
        <td><%= saving_against_baseline.month.strftime("%b %Y") %></td>
        <td><%= float_pre_2 saving_against_baseline.collection_saved %></td>
        <td><%= float_pre_2 saving_against_baseline.month_saving %></td>
        <td><%= saving_against_baseline.month_extra_saving %></td>
        <td><%= saving_against_baseline.note %></td>
        <td><%= link_to 'Show', saving_against_baseline_path(saving_against_baseline) %></td>
        <td><%= link_to 'Edit', edit_saving_against_baseline_path(saving_against_baseline,:service_id=>params[:service_id]) %></td>
        <td><%= link_to 'Destroy', saving_against_baseline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%=will_paginate @saving_against_baselines%> <br>
<%unless params[:service_id].nil?%>
	<%= link_to 'New Saving against baseline', new_saving_against_baseline_path(:service_id=>params[:service_id]) %>
	| <%= link_to 'Back', services_path%>
<%end%>
