<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @saving_against_baseline.month.strftime("%b %Y") %>
</p>

<p>
  <strong>Collection saved:</strong>
  <%= float_pre_2 @saving_against_baseline.collection_saved %>
</p>

<p>
  <strong>Month saving:</strong>
  <%= float_pre_2 @saving_against_baseline.month_saving %>
</p>

<p>
  <strong>Month extra saving:</strong>
  <%= @saving_against_baseline.month_extra_saving %>
</p>

<p>
  <strong>Note:</strong>
  <%= @saving_against_baseline.note %>
</p>
<table class='table'>
  <thead>
  	<tr>
  		<th class='text-center' colspan="3">Baseline Data</th> <!--<%=link_to 'Baseline Data', @baseline_data, :class=>"fa fa-caret-right"%></th>-->
  		<th class='text-center' colspan="3"><%=link_to 'Current Month', @current_month, :class=>"fa fa-caret-right"%></th>
  	</tr>
    <tr>
      <th>Monthly collections</th>
      <th>Collection rate</th>
      <th>Monthly charge</th>
      <th>Monthly collections</th>
      <th>Collection rate</th>
      <th>Monthly charge</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= float_pre_2 @baseline_data.monthly_collection %></td>
        <td><%= @baseline_data.service.collection_rate %></td>
        <td><%= float_pre_2 @baseline_data.monthly_charge %></td>
        <td><%= @current_month.actual_month_collection %></td>
        <td><%= @current_month.service.collection_rate %></td>
        <td><%= @current_month.actual_month_charge %></td>
      </tr>
  </tbody>
</table>
<br>

<%= link_to 'Edit', edit_saving_against_baseline_path(@saving_against_baseline) %> |
<%= link_to 'Back', saving_against_baselines_path(:service_id=>@saving_against_baseline.service_id) %>
