<div class='panel panel-default'>
	<div class='panel-heading'>
		<%=form_tag(welcome_update_comparison_line_chart_path, :remote=>true) do%>
		  Cost Duration Comparison Chart
		  <br />
		  Site : <%= site_select_tag(@sites,"Select site","chosen-it")%>
		  Duration: <%= month_duration_select_tag(2000)%>
		  <br /> <div style='width:19%;text-align:right; float:left; clear:both;'>compares to</div>
		   <%= date_select( :collection_date_from_2,'date',
  			{:include_blank => true, :default => nil,:start_year=>2000,:discard_day=>true})%> to
  				<%=date_select( :collection_date_to_2,'date',
  			{:include_blank => true, :default => nil,:start_year=>2000,:discard_day=>true})%>
		  <%= submit_tag 'Display'%>
		<%end%>
	</div>
	<div class='panel-body'>
		<div id='comparison-line-chart'>
			<%unless @c_line_chart.blank?%>
			  <%= high_chart("comparison_line_chart", @c_line_chart)%>
			<%end%>
		</div>
	</div>
</div>