<%= form_for(@current_invoice) do |f| %>
  <% if @current_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_invoice.errors.count, "error") %> prohibited this current_invoice from being saved:</h2>

      <ul>
      <% @current_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% unless @current_invoice.persisted? %>
	  <%=f.hidden_field :service_id,:value=>params[:service_id]%>
	<%end%>
  <div class="field">
    <%= f.label :Month %><br>
    <%= f.date_select :Month, discard_day: true %>
  </div>
  <div class="field">
    <%= f.label :collection_date %><br>
    <%= f.date_select :collection_date %>
  </div>
  <div class="field">
    <%= f.label :tonnes %><br>
    <%= f.text_field :tonnes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
