<h1>Current_report</h1>
<%=info_from_service params[:service_id]%>
<%=form_tag(current_invoices_path, :method=>'get') do%>
	<%=hidden_field_tag :service_id,params[:service_id]%>
	<%=hidden_field_tag :direction,params[:direction]%>
	<%=hidden_field_tag :sort,params[:sort]%>
	<%=label_tag 'month'%>
	<%= date_select :month,'date', 
		{:discard_day=>true,:include_blank => true, :default => nil,:start_year=>2000}%> <br>
	<%=label_tag 'Collection date from'%>
	<%= date_select :collection_date_from,'date',
	{:include_blank => true, :default => nil,:start_year=>2000,:discard_day=>true}%>  to
	<%= date_select :collection_date_to,'date',
	{:include_blank => true, :default => nil,:start_year=>2000,:discard_day=>true}%>(Default month: Jan) <br>
	<%=submit_tag "Search"%>
<%end%>
<table class='table'>
  <thead>
    <tr>
      <th><%= sortable "month"%></th>
      <th><%= sortable "collection_date"%></th>
      <th><%= sortable "collection_day"%></th>
      <th><%= sortable "tonnes"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_invoices.each do |current_invoice| %>
      <tr>
        <td><%= current_invoice.month.strftime('%b,%Y') %></td>
        <td><%= current_invoice.collection_date %></td>
        <td><%= current_invoice.collection_day %></td>
        <td><%= current_invoice.tonnes %></td>
        <td><%= link_to 'Show', current_invoice %></td>
        <td><%= link_to 'Edit', edit_current_invoice_path(current_invoice) %></td>
        <td><%= link_to 'Destroy', current_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%=will_paginate @current_invoices%> <br>

<%= link_to 'New Current invoice', new_current_invoice_path(:service_id=>params[:service_id]) %> 
| <%= link_to 'Back', services_path %>
