<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @current_invoice.month %>
</p>

<p>
  <strong>Collection date:</strong>
  <%= @current_invoice.collection_date %>
</p>

<p>
  <strong>Collection day:</strong>
  <%= @current_invoice.collection_day %>
</p>

<p>
  <strong>Tonnes:</strong>
  <%= @current_invoice.tonnes %>
</p>

<p>
  <strong>Service:</strong>
  <%= @current_invoice.service.account_number_and_name %>
</p>

<%= link_to 'Edit', edit_current_invoice_path(@current_invoice) %> |
<%= link_to 'Back', service_current_invoices_path(@current_invoice.service) %>
