<%provide(:title,"Client Company")%>
<%=form_tag(companies_path, :method=>'get') do%>
	<%=hidden_field_tag :direction,params[:direction]%>
	<%=hidden_field_tag :sort,params[:sort]%>
	<%=label_tag 'Client company name: '%>
	<%= text_field_tag :client_name, params[:client_name], :id => 'search_field', 
		:placeholder=>'Contain..', :size=>'30x20', :type=>'search' %>
	<%=submit_tag "Search"%>
<%end%>

<table class='table'>
  <thead>
    <tr>
      <th><%=sortable "client_name"%></th>
      <th><%=sortable "number_of_sites"%></th>
      <th><%=sortable "client_representative"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.client_name %></td>
        <td><%= company.number_of_sites %></td>
        <td><%= company.client_representative %></td>
        <td><%= link_to 'Show Sites', company_sites_url(company) %></td>
        <td><%= link_to 'Add Sites', new_company_site_path(company) %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'All the sites, services and anything'+
         				' belong to this company will be erased. Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%=will_paginate @companies%> <br>

<%= link_to 'New Company', new_company_path %>
