<%provide(:title,"Client Company")%>


<table class='table'>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Number of Sites</th>
      <th>Client Representative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.client_name %></td>
        <td><%= company.number_of_sites %></td>
        <td><%= company.client_representative %></td>
        <td><%= link_to 'Show Sites', company_sites_url(company) %></td>
        <td><%= link_to 'Add Sites', new_company_site_path(company) %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
