<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.client_name %>
</p>

<table>
  <thead>
    <tr>
      <th class='col-md-2'>Site name</th>
      <th class='col-md-2'>Site address</th>
      <th class='col-md-2'>Number of service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td class='col-md-2'><%= site.site_name %></td>
        <td class='col-md-2'><%= site.site_address %></td>
        <td class='col-md-3'><%= site.number_of_service %></td>
        <td class='col-md-2'><%= site.company.name %></td>
        <td class='col-md-2'><%= link_to 'Show', site %></td>
        <td class='col-md-2'><%= link_to 'Edit', edit_site_path(site) %></td>
        <td class='col-md-2'><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="height: 20px">
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
