<h1>Listing baseline_data</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Monthly collection</th>
      <th>Monthly charge</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseline_data.each do |baseline_datum| %>
      <tr>
        <td><%= float_pre_2 baseline_datum.monthly_collection %></td>
        <td><%= number_to_us_currency baseline_datum.monthly_charge %></td>
        <td><%= baseline_datum.service_id %></td>
        <td><%= link_to 'Show', baseline_datum %></td>
        <td><%= link_to 'Edit', edit_baseline_datum_path(baseline_datum) %></td>
        <td><%= link_to 'Destroy', baseline_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%=will_paginate @baseline_data%> <br>
<%unless @baseline_data.count>0%>
	<%= link_to 'New Baseline datum', new_baseline_datum_path(:service_id=>params[:service_id]) %>
<%end%>
