<h1>Site_month_savings</h1>
<%= info_from_site params[:site_id]%>
<table class='table'>
  <thead>
    <tr>
      <th>Client company</th>
      <th>Site</th>
      <th><%=sortable "month"%></th>
      <th><%=sortable "month_saving"%></th>
      <th><%=sortable "recycling_rate"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_month_savings.each do |site_month_saving| %>
      <tr>
        <td><%= site_month_saving.site.company.client_name %></td>
        <td><%= site_month_saving.site.site_name %></td>
        <td><%= site_month_saving.month.strftime("%b %Y") %></td>
        <td><%= number_to_us_currency site_month_saving.month_saving %></td>
        <td><%= number_with_percentage site_month_saving.recycling_rate %></td>
        <td><%= link_to 'Destroy', site_month_saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%=will_paginate @services%> <br>
<!--<%= link_to 'New Site month saving', new_site_month_saving_path %>-->
