<h1>Site Month Savings</h1>
<%= info_from_site params[:site_id]%>
<table class='display responsive no-wrap datatable'>
  <thead>
    <tr>
      <th>Client company</th>
      <th>Site</th>
      <!--
      <th><%=sortable "month"%></th>
      <th><%=sortable "month_saving"%></th>
      <th><%=sortable "recycling_rate"%></th>
      -->
      <th>Month</th>
      <th>Month Saving</th>
      <th>Recycling Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @site_month_savings.each do |site_month_saving| %>
      <tr>
        <td><%= site_month_saving.site.company.client_name %></td>
        <td><%= site_month_saving.site.site_name %></td>
        <td><%= site_month_saving.month.strftime("%b %Y") %></td>
        <td><%= number_to_us_currency site_month_saving.month_saving %></td>
        <td><%= number_with_percentage site_month_saving.recycling_rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<%= link_to 'New Site month saving', new_site_month_saving_path %>-->
