<%= form_for(@commentary) do |f| %>
  <% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% @commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @commentary.persisted? %>
	  <%= f.hidden_field :site_id, :value=>params[:site_id]%>
  <%end%>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, :size=>"100x10" %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.date_select :month, discard_day: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
