<%= form_for(@current_month) do |f| %>
  <% if @current_month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_month.errors.count, "error") %> prohibited this current_month from being saved:</h2>

      <ul>
      <% @current_month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @current_month.persisted? %>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.date_select :month , discard_day:true%>
  </div>
  <%= f.hidden_field :service_id, :value=>params[:service_id]%>
  <%end%>

  <div class="field">
    <div class="required">* </div><%= f.label :month_average_load %><br>
    <% unless @current_month.persisted? %>
    <div class="required">* </div><%= f.text_field :month_average_load,:required=>true, :value=>@service_last_avg %>
    (default value from latest month)
    <%else%>
    <div class="required">* </div><%= f.text_field :month_average_load,:required=>true %>
    <%end%>
  </div>
  <div class="field">
    <div class="required">* </div><%= f.label :actual_month_collection %><br>
    <div class="required">* </div><%= f.text_field :actual_month_collection,:required=>true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
