<p id="notice"><%= notice %></p>

<p>
  <strong>Month total tonnes:</strong>
  <%= @current_month.month_total_tonnes %>
</p>

<p>
  <strong>Month average load:</strong>
  <%= float_pre_2 @current_month.month_average_load %>
</p>

<p>
  <strong>Actual month collection:</strong>
  <%= @current_month.actual_month_collection %>
</p>

<p>
  <strong>Actual month charge:</strong>
  <%= @current_month.actual_month_charge %>
</p>

<p>
  <strong>Optimal collection:</strong>
  <%= float_pre_2 @current_month.optimal_collection %>
</p>

<p>
  <strong>Days interval:</strong>
  <%= float_pre_2 @current_month.days_interval %>
</p>

<p>
  <strong>Month:</strong>
  <%= @current_month.Month.strftime("%b %Y") %>
</p>

<p>
  <strong>Service ID:</strong>
  <%= @current_month.service_id %>
</p>

<%= link_to 'Edit', edit_current_month_path(@current_month) %> |
<%= link_to 'Back to service', services_path %>
