<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_name %><br>
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :site_address %><br>
    <%= f.text_field :site_address %>
  </div>
    <div class="company_id">
    <%= f.label :company_id %><br>
    <%= f.select :company_id, options_from_collection_for_select(@companies,"id","client_name") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
