<% provide(:title,"DataManagement Site")%>
<%=info_from_company(params[:company_id])%>
<%=form_tag(sites_path, :method=>'get') do%>
<%unless params[:company_id].blank?%>
	<%=hidden_field_tag :company_id,params[:company_id]%>
<%end%>
	<%=hidden_field_tag :direction,params[:direction]%>
	<%=hidden_field_tag :sort,params[:sort]%>
	<%=label_tag 'Site name: '%>
	<%= text_field_tag :site_name, params[:site_name], :id => 'site_search_field', 
		:placeholder=>'Contain..', :size=>'30x20', :type=>'search' %>
	<%=submit_tag "Search"%>
<%end%>
<table class='table'>
	<thead>
		<tr>
			<th><%=sortable "site_name"%></th>
			<th><%=sortable "site_address"%></th>
			<th><%=sortable "number_of_service"%></th>
			<th><%=sortable "company_id", "Client Company"%></th>
			<th><%=sortable "running_total"%></th>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<% @sites.each do |site| %>
		<tr>
			<td><%= site.site_name %></td>
			<td><%= site.site_address %></td>
			<td><%= site.number_of_service %></td>
			<td><%= site.company.client_name %></td>
			<td><%= number_to_us_currency site.running_total %></td>
			<td>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Operation
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<%= link_to 'View Site Month Saving', site_site_month_savings_url(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'View Services', site_services_url(site) %>
					</li>
					<li role=-"presentation">
						<%= link_to 'Add Services', new_site_service_path(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'View Contact', site_contacts_url(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'Add Contact', new_contact_path(:site_id=>site.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Write Comment', new_commentary_path(:site_id=>site.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'History Comments', site_commentaries_url(site) %>
					</li>
				</ul>
			</div></td>
			<td class='col-md-1'><%= link_to 'Edit', edit_site_path(site) %></td>
			<td class='col-md-1'><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br><%=will_paginate @sites%> <br>

<%= link_to 'New Site', new_site_path %>
