<% provide(:title,"DataManagement Site")%>

<table class='table'>
	<thead>
		<tr>
			<th>Site name</th>
			<th>Site address</th>
			<th>Number of service</th>
			<th>Client Company</th>
			<th colspan="5"></th>
		</tr>
	</thead>

	<tbody>
		<% @sites.each do |site| %>
		<tr>
			<td><%= site.site_name %></td>
			<td><%= site.site_address %></td>
			<td><%= site.number_of_service %></td>
			<td><%= site.company.client_name %></td>
			<td>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Operation
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<%= link_to 'View Services', site_services_path(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'Add Services', new_site_service_path(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'View Contact', site_contacts_url(site) %>
					</li>
					<li role="presentation">
						<%= link_to 'Add Contact', new_contact_path(:site_id=>site.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'Write Comment', new_commentary_path(:site_id=>site.id) %>
					</li>
					<li role="presentation">
						<%= link_to 'History Comments', site_commentaries_url(site) %>
					</li>
				</ul>
			</div></td>
			<td class='col-md-1'><%= link_to 'Edit', edit_site_path(site) %></td>
			<td class='col-md-1'><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
