<h1>Baseline_invoices</h1>
<%=form_tag(baseline_invoices_path, :method=>'get') do%>
	<%=hidden_field_tag :service_id,params[:service_id]%>
	<%=hidden_field_tag :direction,params[:direction]%>
	<%=hidden_field_tag :sort,params[:sort]%>
	<%=label_tag 'month'%>
	<%= date_select :month,'date', 
		{:discard_day=>true,:include_blank => true, :default => nil,:start_year=>1990}%> <br>
	<%=label_tag 'Collection date from'%>
	<%= date_select :collection_date_from,'date',
	{:include_blank => true, :default => nil,:start_year=>1990}%>  to
	<%= date_select :collection_date_to,'date',
	{:include_blank => true, :default => nil,:start_year=>1990}%>
	<%=submit_tag "Search"%>
<%end%>
<div id='baseline_invoices_table'><%= render 'baseline_invoices'%></div>
<%= link_to 'New Baseline invoices', new_baseline_invoice_path(:service_id=>params[:service_id]) %> 
| <%= link_to 'Back', services_path %>
<br>

