<!DOCTYPE html>
<html>
	<head>
		<title>Waste Management | <%= yield(:title)%></title>
		<%if request.env["Rack-Middleware-PDFKit"] == "true"%>
		  <link rel="stylesheet" type="text/css" href=<%=Rails.root.join("vendor","assets","stylesheets","pdf_print.css").to_s%>>
		<%else%>
		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%end%>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
			<div class='hidden-print'>
			  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<ul class="nav navbar-top-links navbar-right">
					<% if user_signed_in? %>
						<li>
						  Logged in as <strong> <%= current_user.email %> </strong>.
						</li>
					  <li class="dropdown">
                    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    	</a>
                    	<ul class="dropdown-menu dropdown-messages">
                    	  <%current_user.mailbox.inbox.first(3).each do |conversation|%>
                    	  	<%message=conversation.last_message%>
                    	    <li>
                    	      <%= link_to conversation_path(conversation) do%>
						        <%= message.sender.user_name %> 
         					    <small>(<span class="text-muted"> <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small> <br />
        						<%= message.body.truncate(20) %>
                    	      <%end%>
        					</li>
                          <li class="divider"></li>
                    	  <%end%>
                          <li>
							<%= link_to 'Messages Inbox', conversations_path%>
                          </li>
                    	</ul>
                	  </li>
                	  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
						  <%= link_to edit_user_registration_path do %>
                            <i class="fa fa-user fa-fw"></i> User Profile
                          <%end%>
                        </li>
                        <li class="divider"></li>
                        <li>
						  <%= link_to destroy_user_session_path, method: :delete do %>
                        	<i class="fa fa-sign-out fa-fw"></i> Logout
                          <%end%>
                        </li>
                    </ul>
                </li>
					<% else %>
						<%= link_to "Log in", new_user_session_path, :class => "btn btn-default" %>
						<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default" %>
					<% end %>
				</ul>
	  			<!--<div class="page-header">
    				<h1><%= yield :page_header %></h1>
  				</div>-->
			</div>
		</nav>
				<% flash.each do |key, value| %>
					<%puts flash.to_yaml%>
    				<div class="alert alert-<%= key %>  alert-dismissable">
    					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      					<%= value %>
    				</div>
  				<% end %>
			
			<!-- Sidebar -->
			<div class="sidebar-nav navbar-collapse hidden-print">
				<div id="sidebar-wrapper">
					<ul class="sidebar-nav" id='side-menu'>
						<li class="sidebar-brand">
							<%= link_to 'Waste Management', root_path %>
						</li>
						<!--<li>
							<a href="#"> Search<span class="fa fa-2x arrow"></span></a>
							<ul class="nav nav-second-level description-toggle">
								<li>
									<%= link_to 'Client', company_search_path %>
								</li>
								<li>
									<%= link_to 'Sites', sites_path%>
								</li>
								<li>
									<%= link_to 'Services', services_path%>
								</li>
							</ul>
						</li>-->
							<% if user_signed_in? %>
						<li>
							<%= link_to 'Dashboard', welcome_portal_path%>
						</li>
						<li>
							<%= link_to 'Chart', welcome_chart_path%>
						</li>
						<li>
							<%= link_to 'Status Report',sites_yearly_records_path%>
						</li>
						<li>
							<%= link_to 'Cost Savings Report', site_month_invoice_path%>
						</li>
						<%if is_admin?%>
						<!--
							<li>
							<a href="#"> DataManagement<span class="fa fa-2x arrow"></span></a>
							<ul class="nav nav-second-level description-toggle">
							-->
								<li>
									<%= link_to 'Client', companies_path %>
								</li>
								<li>
									<%= link_to 'Sites', sites_path%>
								</li>
								<li>
									<%= link_to 'Services', services_path%>
								</li>
						<!--
							</ul>
						</li>
							-->
						<li>
							<%= link_to 'User Management', user_management_path%>
						</li>
						<li>
							<%= link_to 'Saving Against Baseline', saving_against_baselines_path%>
						</li>
						<li>
							<%= link_to 'Site Month Saving', site_month_savings_path%>
						</li>
						<li>
							<%= link_to 'Site Year Saving', sites_yearly_record_show_index_path%>
						</li>
						<%else%>
						<%unless current_user.company.blank?%>
						<li>
							<%= link_to 'Site Month Saving', site_month_savings_path(:company_id=>current_user.company_id)%>
						</li>
						<li>
							<%= link_to 'Site Year Saving', sites_yearly_record_show_index_path%>
						</li>
						<%end%>
						<%end%>
						<%end%>
					</ul>
				</div>
			</div>
			<!-- /#sidebar-wrapper -->

			<!-- Page Content -->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">

							<h2><%= yield(:title)%></h2>
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->

			<div class="hidden-print">
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
			</div>
		</div>

		<!-- Menu Toggle Script -->
		<script>
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
		</script>

	</body>
</html>
